#container {padding-top: 0; background: #fff url(../images/bg_body.jpg) 100% -50px no-repeat;}
body.fluid #container {min-width: 900px;}
#banner {height: 120px;  position: relative;}
#banner h1 {margin: 0; position: absolute; bottom: 0; left: 180px; color: #006db6; font-family: georgia, serif; font-size: 2.6em; line-height: 1; vertical-align: bottom; text-shadow: 0 0 2px rgba(255, 255, 255, 1);}
#banner a#link_lhcb {position: absolute; top: 20px; left: 0px;}
#banner img {height: 100px;}
#middle {background: url(../images/bg_content.png) top left repeat; padding-top: 20px;}
/* FOOTER */
#footer {height: 80px; margin-top: 20px; padding-top: 0px; text-align: center; position: relative;}
#footer p {position: absolute; bottom: 0; left: 0; line-height: 1; margin-bottom: 0; color: #999;}
#footer #contact-link {top: 0;}
#footer a#cern_logo {position: absolute; bottom: 0; right: 0;}


/* COLOURS */
body {background: #edf7fb;}
#container {-moz-box-shadow: 0px 5px 10px #b5c8d0; -webkit-box-shadow: 0px 5px 20px #b5c8d0; opacity: 0.95;}
a {color: #006db6;}



h2 {font-size: 1.2em; color: #0099ff; margin-top: 1em;}
h3 {font-size: 0.9em; text-transform: uppercase; font-weight: bold;}

h3.ruled {border-color: #e94528; color: #666; border-bottom-width: 3px;}

ul.go li {padding-left: 26px;}
ul.go li.twitter {background-image: url(twitter.png);}

.block-links li {margin-bottom: 0.3em; padding-bottom: 0.3em; border-bottom: 1px solid #e9e9e9;}

@media all and (max-width: 800px) {
body {background: #fff; font-size: inherit;}
.cwf.grid-fluid .column.span2, .cwf.grid-fluid .column.span3, .cwf.grid-fluid .column.span4 {width: 100%;}
#container {background-image: none; -moz-box-shadow: none; -webkit-box-shadow: none; opacity: 1;}
#banner {height: inherit;}
#banner a#link_lhcb, #banner h1, #footer a#cern_logo, #footer p {position: relative; top: auto; left: auto;}
#banner h1 {font-size: 1.6em;}
}
